* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#images img {
  height: 427px;
  width: 640px;
}

#images {
  display: flex;
}

.default {
  transition: transform 500ms ease-in-out;
}

#frame {
  width: 640px;
  overflow: hidden;
}

#container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.controls {
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 427px;
}
.controls:hover {
  opacity: 0.5;
}

.controls img {
  height: 100px;
  padding: 0 5px;
}

#left {
  justify-self: flex-end;
  background: linear-gradient(270deg, #ddd, #fff);
}

#right {
  width: min-content;
  background: linear-gradient(90deg, #ddd, #fff);
}

#dots {
  display: flex;
  font-size: 3rem;
  justify-content: center;
}

.selected {
  color: silver;
}

.dot:hover {
  cursor: pointer;
  color: silver;
  text-shadow: 0 0 10px black;
}